* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: radial-gradient(pink, red);
}
.navbar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar img{
    width: 75px;
    height: auto;
}
h1 {
    font-size: 60px;
    text-align: center;
    color: whitesmoke;
}
.container-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.card img {
    width: 90%;
    height: 90%;
    border-radius: 10px;
}
.card img:hover {
    box-shadow: 5px 5px 8px black;
}
.card h2 {
    text-align: center;
}
.info {
    display: flex;
}
.ele {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 10px;
}
.info ul {
    list-style: none;
}
.elements a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
.elements a:hover {
    color: chartreuse;
}

@media (max-width: 750px) {
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 20px;
    }
    .navbar {
        display: none;
    }
    .container-img {
        grid-template-columns: repeat(1, 1fr);
    }
    .card img {
        width: 75%; 
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}