body {
    background-color:  #fffbf7;

}
h1 {
    color: #46484c;
}
h2 {
    color: red;
}
b {
    color: #8b8b8bcc;
}
.btn {
    background-color: #025157;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
nav {
    display: flex;
    gap: 10px;
}
ul {
    display: flex;
    gap: 20px;

}
li {
    list-style: none;
    cursor: pointer;    
}